*.xml

!/codeStyleSettings.xml
!/copyright/*.xml
!/fileColors.xml
!/gradle.xml
!/modules.xml
!/runConfigurations.xml
!/compiler.xml
!/encodings.xml
!/inspectionProfiles/*.xml
/inspectionProfiles/profiles_settings.xml

!/scopes/*.xml
/scopes/scope_settings.xml

!/templateLanguages.xml
!/vcs.xml